.banner {
  width: 100%;
  height: 70vh;
  background-image: linear-gradient(#624ef97c, #14141436),
    url("https://images.unsplash.com/photo-1504639725590-34d0984388bd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.banner h2 {
  text-transform: capitalize;
  max-width: 1000px;
  margin: 0;
  color: rgba(255, 255, 255, 0.781);
  font-size: 75px;
  text-shadow: 0px 5px 5px #111;
}

.serviceSec {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

.serviceSec h2 {
  font-size: 40px;
  color: #614ef9;
}

.serviceSec .services {
  width: 80%;
  display: flex;
  justify-content: space-evenly;
}

.seeMoreBtn {
  width: 400px;
  background-color: #614ef9;
  font-weight: bold;
  font-size: 20px;
  border: none;
  padding: 20px 25px;
  color: rgba(255, 255, 255, 0.705);
  border-radius: 10px;
  margin-top: 50px;
  cursor: pointer;
}

.feedbackSec {
  width: 100%;
}

.feedbackSec h2 {
  text-align: center;
  font-size: 40px;
  color: #614ef9;
}
.contentContainer {
  margin: 100px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.contentContainer .comments {
  width: 50%;
}

.contentContainer .imageContainer {
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contentContainer .imageContainer .img {
  width: 100%;
  height: 350px;
  position: relative;
  margin-left: 20px;
}

.contentContainer .imageContainer .img1,
.contentContainer .imageContainer .img2,
.contentContainer .imageContainer .img3 {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  position: absolute;
}

.contentContainer .imageContainer .img1 {
  background-image: url("https://images.unsplash.com/photo-1562246229-37b3aca47e18?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
  width: 200px;
  height: 200px;
  right: 0px;
  top: 50px;
}

.contentContainer .imageContainer .img2 {
  background-image: url("https://images.unsplash.com/photo-1596495717788-01458887290b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80");
  width: 150px;
  height: 150px;
  left: 20px;
}
.contentContainer .imageContainer .img3 {
  background-image: url("https://images.unsplash.com/photo-1618355776464-8666794d2520?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80");
  width: 100px;
  height: 100px;
  bottom: 70px;
  left: 70px;
}

.arrowIcon {
  background-color: #614ef9;
  font-weight: bold;
  font-size: 20px;
  border: none;
  padding: 10px 30px;
  color: rgba(255, 255, 255, 0.705);
  border-radius: 50px;
  cursor: pointer;
}
