.comment {
  height: 80%;
  width: 100%;
  margin-bottom: 30px;
}

.comment h3 {
  font-weight: normal;
  font-size: 16px;
  width: 80%;
  margin-bottom: 30px;
}

.userInfo {
  display: flex;
  align-items: center;
}

.userInfo .image {
  width: 80px;
  height: 80px;
  background: url("https://images.unsplash.com/photo-1632736849027-25b799ad1527?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=673&q=80")
    no-repeat center;
  background-size: cover;
  border-radius: 50%;
  margin-right: 20px;
}

.userInfo h4 {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 18px;
  margin: 0;
}
.userInfo p {
  display: block;
  margin: 0;
}

@media (max-width: 700px) {
  .comment h3 {
    width: 100%;
  }
}
